{{model.text}}
{{!-- <button class='btn-xs' {{action 'delete'}}> Delete </button> --}}
{{example/delete-example example=model
                          delete='deleteExample'}}
{{example/update-example example=model
                          update='updateExample'}}

{{outlet}}
